/* IMPORTING FONTS */
@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-Semibold;
    src: url(fonts/Raleway/Raleway-SemiBold.ttf);
}

/* FIXING HEADER STYLES*/

header {
    background-image: url(images/background.jpg);
    color: #fff;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 65px;
    gap: 3vw;
    flex-wrap: wrap;
    align-items: center;
}

nav img {
    padding: 0 0.5vw
}

nav>p {
    margin-right: 4vw;
    font-size: 34px;
    font-family: Raleway-Regular;


}

nav>div {
    font-family: Montserrat-Light
}

nav>div:hover {
    color: #998675;
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header div h2 {
    font-size: 19px;
    padding-top: 320px;
    padding-bottom: 2vw;
    font-family: raleway-medium;
}

header div h1 {
    font-size: 30px;
    padding-bottom: 2vw;
    font-family: raleway-ExtraBold;
}

header div p {
    max-width: 570px;
    text-align: center;
}

header button {
    background-color: #998675;
    margin-bottom: 300px;
    padding: 15px 35px;
    border-radius: 5%;
    border: none;
    border-bottom: 3px solid #736357;
    margin-top: 55px;
    font-family: raleway-extrabold;
    color: white;
}


/* Using the article to put the dots under the picture in*/
article {
    display: flex;
    gap: 15px;
}

article div {
    width: 8px;
    height: 8px;
    background-color: grey;
    border-radius: 100%;
    margin-bottom: 40px;
}

.activeCircle {
    border: 2px solid #998675;
    background: none;
}

/* This section is for everything under the picture*/
main {
    display: grid;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 85px;
}

main div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #736357;
    gap: 1vw;
    max-width: 270px;
}

main div h3 {
    font-size: 22px;
    font-family: raleway-semibold;
}

main div p {
    font-family: montserrat-light;
    color: #998675;
}

/* these annoying things are for the pseudo elements*/
.annoying {
    position: relative;
    margin-bottom: 50px;
}

.annoyingActive {
    position: relative;
    margin-bottom: 50px;
}

.annoying:after {
    content: "";
    background: grey;
    position: absolute;
    bottom: -15px;
    border-radius: 20%;
    height: 3px;
    width: 30%;
}

.annoyingActive:after {
    content: "";
    background: #736357;
    position: absolute;
    bottom: -15px;
    border-radius: 20%;
    height: 3px;
    width: 30%;
}

/* PLACING THE ARROW ELEMENTS ON THE LEFT AND RIGHT, 
BELOW I USE MEDIA QUERIES TO MAKE IT RESPONSIVE AND MOVE OUT OF THE WAY FOR TEXT
*/
.main {
    position: relative;
}

.arrowLeft {
    position: absolute;
    left: 10vw;
    top: 45%;
}

.arrowRight {
    position: absolute;
    right: 10vw;
    top: 45%;
}

/* MEDIA QUERIES TO MAKE GRID AND ARROWS RESPONSIVE */
@media (min-width: 300px) {
    .arrowLeft {
        position: absolute;
        left: 10vw;
        top: 50%;
    }

    .arrowRight {
        position: absolute;
        right: 10vw;
        top: 50%;
    }

}

@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(2, max-content);
    }

    .arrowLeft {
        position: absolute;
        left: 10vw;
        top: 50%;
    }

    .arrowRight {
        position: absolute;
        right: 10vw;
        top: 50%;
    }
}

@media (min-width: 900px) {
    main {
        grid-template-columns: repeat(3, max-content);
    }
}

@media (min-width:1200px) {
    main {
        grid-template-columns: repeat(4, max-content);
    }

}

.interactable:hover {

    cursor: pointer;
}